<!-- Footer -->
            <div id="footer">
                
                <!-- Copyright -->
                    <ul class="copyright">
                    <!--
                        <li>&copy; 2014 Cole Fichter. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    -->
                        <li>
                            <a class="license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Erlang ODBC Tips</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://erlang-odbc-tips.colefichter.ca" property="cc:attributionName" rel="cc:attributionURL">Cole Fichter</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
                        </li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    </ul>
                
            </div>


    <script type="text/javascript">
        //TODO: clipboard integration...
        //SyntaxHighlighter.config.clipboardSwf='/Scripts/syntaxhighlighter/clipboard.swf';
        SyntaxHighlighter.defaults['gutter'] = true;
        SyntaxHighlighter.defaults['smart-tabs'] = true;
        SyntaxHighlighter.defaults['auto-links'] = true;
        SyntaxHighlighter.defaults['collapse'] = false;
        SyntaxHighlighter.defaults['light'] = false;
        SyntaxHighlighter.defaults['tab-size'] = 4;
        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.defaults['wrap-lines'] = true;
        SyntaxHighlighter.all();
    </script>
    </body>
</html>