<!DOCTYPE HTML>
<!--
    Prologue by HTML5 UP
    html5up.net | @n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>Erlang ODBC Tips</title>
        <!-- Theme stuff -->
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
                <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollzer.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/skel-layers.min.js"></script>
        <script src="js/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="css/skel.css" />
            <link rel="stylesheet" href="css/style.css" />
            <link rel="stylesheet" href="css/style-wide.css" />
        </noscript>
        <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->

        <!-- Syntax Highlighter -->
        <link type="text/css" rel="stylesheet" href="/syntax_highlighter/shCore.css" />
        <link type="text/css" rel="stylesheet" href="/syntax_highlighter/shThemeDefault.css" />
        <script type="text/javascript" src="/syntax_highlighter/shCore.js"></script>
        <script type="text/javascript" src="/syntax_highlighter/shBrushErlang.js"></script>
        <script type="text/javascript" src="/syntax_highlighter/shBrushBash.js"></script>
        <script type="text/javascript" src="/syntax_highlighter/shBrushCpp.js"></script>

        <!-- Custom styles -->
        <link rel="stylesheet" href="custom.css" />
    </head>
    <body>

        <!-- Header -->
            <div id="header" class="skel-layers-fixed">

                <div class="top">

                    <!-- Logo -->
                        <div id="logo">
                            <span class="image avatar48">
                                <img src="http://www.gravatar.com/avatar/12503971cde24500cad15ce2d1da458f" />
                            </span>                         
                            <h1 id="title">
                                <a href="http://www.colefichter.ca" target="_blank">Cole Fichter
                                </a>
                            </h1>
                            <p>Data Scientist and Erlang-o-phile. If you're looking to hire a top-notch Erlang Developer, <a href="mailto:erlangodbctips@gmail.com" title="Send me an email!">please</a> <a href="http://twitter.com/MathasaurusRex" title="Find me on Twitter!">get</a> <a href="https://github.com/colefichter" title="Fork me on GitHub!">in</a> <a href="http://www.linkedin.com/pub/cole-fichter/4/a5/b20" title="Love me on LinkedIn">touch</a>!
                            </p>
                        </div>

                    <!-- Nav -->
                        <nav id="nav">
                            <!--
                            
                                Prologue's nav expects links in one of two formats:
                                
                                1. Hash link (scrolls to a different section within the page)
                                
                                   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

                                2. Standard link (sends the user to another page/site)

                                   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>
                            
                            -->
                            <ul>
                                <li>
                                    <a href="#top" id="top-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-home">Welcome</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#quickstart" id="quickstart-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-rocket">Quickstart</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#connecting" id="connecting-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-exchange">Connecting</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#gotchas" id="gotchas-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-ambulance">Gotchas</span>
                                    </a>
                                </li>   
                                <li>
                                    <a href="#contribute" id="contribute-link" class="skel-layers-ignoreHref">
                                        <span class="icon fa-pencil-square-o">Contribute!</span>
                                    </a>
                                </li>                           
                            </ul>
                        </nav>
                        
                </div>
                
                <div class="bottom">

                    <!-- Social Icons -->
                        <ul class="icons">
                            <li>
                                <a href="http://twitter.com/MathasaurusRex" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="http://github.com/colefichter" class="icon fa-github">
                                    <span class="label">Github</span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:erlangodbctips@gmail.com" class="icon fa-at">
                                    <span class="label">Email</span>
                                </a>
                            </li>
                        </ul>
                
                </div>
            
            </div>
        
        <!-- Main -->